<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link href="/assets/css/uno.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/daisyui.css">
	</head>
	<body>
    <nav class="navbar tw-sticky bg-base-100 tw-shadow-sm tw-px-2">
      <div class="navbar-start">
        <a href="/" class="tw-font-bold">Sofía</a>
      </div>
      <div class="navbar-end">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:tw-hidden i-fa7-solid:list"></div>
          <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 tw-rounded-box tw-shadow">
            {{for it of nav_items}}
              <li><a href="{{it.link}}">{{it.text}}</a></li>
            {{/for}}
          </ul>
        </div>
        <div class="tw-hidden tw-lg:flex">
          <ul class="menu menu-horizontal tw-px-1">
            {{for it of nav_items}}
              <li><a href="{{it.link}}">{{it.text}}</a></li>
            {{/for}}
          </ul>
        </div>
      </div>
    </nav>
    <main>
    {{content}}
    </main>
	</body>
</html>
