<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link href="/assets/css/uno.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/combine/npm/daisyui@5/daisyui.css,npm/daisyui@5/theme/sunset.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
    <nav class="navbar tw-sticky bg-base-100 tw-shadow-sm tw-shadow-[var(--color-base-300)]/50 tw-px-2">
      <div class="navbar-start">
        <a href="/" class="tw-font-bold">Sofía</a>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="lg:tw-hidden i-fa7-solid:list hover:tw-bg-[var(--color-info)] tw-mx-4"></div>
          <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 tw-rounded-box tw-shadow tw-p-2 tw-w-52">
            {{for it of nav_items}}
              <li><a href="{{it.link}}">{{it.text}}</a></li>
            {{/for}}
          </ul>
        </div>
        <div class="tw-hidden tw-lg:flex">
          <ul class="menu menu-horizontal tw-px-1">
            {{for it of nav_items}}
              <li><a href="{{it.link}}">{{it.text}}</a></li>
            {{/for}}
          </ul>
        </div>
      </div>
    </nav>
    <main>
    {{content}}
    </main>
    <script src="/assets/js/helper.js"></script>
	</body>
</html>
