<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link href="{{"/assets/css/uno.css" |> url}}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/combine/npm/daisyui@5/daisyui.css,npm/daisyui@5/theme/sunset.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="tw-flex tw-flex-col tw-min-h-screen">
    <nav class="navbar tw-sticky tw-z-1 tw-top-0 bg-base-300 tw-shadow-sm tw-shadow-[var(--color-base-300)]/50 tw-px-2">
      <div class="navbar-start">
        <a href="{{"/" |> url}}" class="tw-font-bold">Sofía</a>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="lg:tw-hidden i-fa7-solid:list hover:tw-bg-[var(--color-info)] tw-mx-4"></div>
          <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 tw-rounded-box tw-shadow tw-p-2 tw-w-52">
            {{for it of nav_items}}
              <li><a href="{{it.link |> url}}">{{it.text}}</a></li>
            {{/for}}
            {{for soc of socials}}
              <li><a href="{{soc.link |> url}}">{{soc.text}}</a></li>
            {{/for}}
          </ul>
        </div>
        <div class="tw-hidden lg:tw-flex tw-px-4">
          <ul class="menu menu-horizontal tw-px-1 tw-items-center">
            {{for it of nav_items}}
              <li><a href="{{it.link |> url}}">{{it.text}}</a></li>
            {{/for}}
            {{for soc of socials}}
              <li><a href="{{soc.link |> url}}" class="tw-p-4"><div class="i-{{soc.icon}} tw-text-xl"></div></a></li>
            {{/for}}
          </ul>
        </div>
      </div>
    </nav>
    <main class="tw-mt-4 tw-grow tw-pb-4">
    {{content}}
    </main>
    <footer class="footer sm:footer-horizontal footer-center bg-base-200 text-base-content tw-p-4">
    <aside>
      <p>Copyright © {{new Date().getFullYear()}} Sofía Maturana. Todos los derechos reservados.</p>
    </footer>
    <script src="{{"/assets/js/helper.js" |> url}}"></script>
	</body>
</html>
