{{set content}}
<header class="hero tw-bg-teal-100 tw-min-h-64">
  <div class="hero-content tw-text-center">
    <h1 class="tw-text-5xl tw-font-bold">Sofía</h1>
  </div>
</header>
{{/set}}
{{include "base.vto"}}
